.palette {
    display: flex;
	flex-wrap: wrap;
    align-items: stretch;
	justify-content: center;
    height: 35px
}

.selected {
	background:#12826c;
}

.palette-list {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 100%
}

option {
	background-color: 'red';
	height: 35px;
	width: 35px;
}