.view-window {
    overflow: scroll;
}

.pattern {
    margin: 0 auto;
}

.pattern-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.landscape {
    @page {
        size: landscape;
    }
}

.portrait {
    @page {
        size: portrait;
    }
}

@media print {
    .pattern {
        max-height: 95vh;
        min-height: 95vh;
    }
    .view-window {
        overflow: visible;
    }
}