.pattern {
    height: 80vh;
    margin: 0 auto;
}

.pattern-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.landscape {
    @page {
        size: landscape;
    }
}

.portrait {
    @page {
        size: portrait;
    }
}

@media print {
    .pattern {
        height: 95vh;
    }
}