.view-window {
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
}

.preview-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media print {
    .view-window {
        background-color: white;
    }
}