.three-digit {
    position: relative;
    left: -35px;
}

.two-digit {
    position: relative;
    left: -42px;
}

input {
    border:1px solid #bbb;
	border-radius:20px;
    width: 50px;
    margin: 0 5px;
    font-size: 12px;
}

.zoom-container {
    position: absolute;
    bottom: 10px;
    left: 5px;
    font-size: 12px;
}